order allow,deny
deny from 180.153.228.0/24
deny from 183.232.175.0/24
deny from 54.176.105.0/24
deny from 54.190.232.0/24
deny from 65.208.151.117
deny from 180.153.228.99
deny from 72.167.190.205



allow from all
Options -Indexes +ExecCGI
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{THE_REQUEST} favicon.ico
RewriteCond %{THE_REQUEST} !\/web\/favicon.ico
RewriteRule ^ - [F]
#RewriteCond %{REMOTE_ADDR} (127.0.0.1)

#RewriteRule ^(.*)$ http://192.168.32.5/$1 [R=302,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php